:root {
  --main-text-color: #757575;
  --main-background-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-footer-background: #2f303a;
  --team-section-button-color: #f5f4fa;
}
/* colors
#212121-title
#2196F3-hover and button
#FFFFFF-background,button text color and hero title color
#757575-text
#F5F4FA-team section background
#2F303A-hero and footer background


*/
/* Студия */
body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
}
.nav-list,
.contact-list,
.lists {
  list-style: none;
}
.logo-color {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.contact-list .link {
  color: var(--main-text-color);
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--hero-footer-background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
}
.section-title,
.subtitle,
.subtitle-team {
  color: var(--title-color);
}
.footer {
  background-color: var(--hero-footer-background);
}
.footer .address-link {
  color: var(--main-background-color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link {
  text-decoration: none;
  color: var(--main-background-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-team {
  background-color: var(--team-section-button-color);
}
.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: var(--main-background-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* Портфолио */
.button {
  cursor: pointer;
  background-color: var(--team-section-button-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.subtitle-portfolio {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
